<div class="content-page">
<h1>Extracting Data <em>From</em> the Dom</h1>

<ul class="table-contents">
<li id="from-link">The <em>from</em> form</li>
<li id="get-attr-link">get-attr</li>
<li id="get-text-link">get-text</li>             
</ul>

<h3 id="doc-from">The <em>from</em> Form</h3>
<p>To get data from the dom we use the <em>from</em> form. It comes in two basic forms listed below:</p>
<pre>
(from a-node (extractor arg1 ...))
-> returns a list or single value
and

(from a-node
    :key1 [selector1] (extractor arg1 ...)
    :key2 [selector2] (extractor arg1 ...))
-> returns a map {:key1 value|list :key2 value|list
</pre>
<p>In the first case, <em>from</em> is passed a node or node set and a extractor.  It then calls the 
extractor on each element in the node set. It will return either a single value if a single node is passed in and
a collection of values if more than one node is passed in.<p>
<p>An <em>extractor</em> is nothing more than a function that takes a set of arguments and returns a function 
that takes a set of nodes.</p>
<p>In the second case, we see <em>from</em> is passed a node or node set and a set of 
key/selector/extractor trio. The selectors are scoped by the node or node set passed in and 
the results of each selector is passed on to its partner extractor and the result is stored in the
return map under the given key.</p> 
<p>A <em>selector</em> is a string representing a <a href="http://www.w3schools.com/cssref/css_selectors.asp">CSS3 compliant selector</a>. 



<h3 id="doc-get-attr">Extractor: <em>get-attr</em></h3>
<p>The <em>get-attr</em> extractor returns the value or values of the selected nodes. If
more than one node is passed in it will return a list of values.<p>  
<pre>
(get-attr :attr)
</pre>
<div>
<input id="get-attr-field1" value="type here"><br>
<input id="get-attr-field2" value="type here"><br>
<input name="get-attr-field3" type="checkbox" value="one">one<br>
<input name="get-attr-field3" type="checkbox" value="two">two<br>
<input name="get-attr-field3" type="checkbox" value="three">three<br>
</div>
<p>Example: <button id="button1">click me</button></p>
<div id="get-attr-demo"> </div>
<p>The following action is triggered when we click the button.</p>
<pre>
(defn get-attr-demo []
  (let [values (em/from js/document
                 :field1 ["#get-attr-field1"] (em/get-attr :value)
                 :field2 ["#get-attr-field2"] (em/get-attr :value)
                 :field3 ["input[name='get-attr-field3']"] (em/filter #(.checked %)
                                                                   (em/get-attr :value)))]
      (em/at js/document
        ["#get-attr-demo"] (em/content (pr-str values)))))                     
</pre>

<h3 id="doc-get-text">Extractor: <em>get-text</em></h3>
<p>The <em>get-text</em> extractor returns the text value or values of the selected nodes. If
more than one node is passed in it will return a list of values.<p>  
<pre>
(get-text)
</pre>
<div>
<p>Example: <button id="button2">click me</button></p>
<div id="get-text-demo"> </div>
<p>The following action is triggered when we click the button.</p>
<pre>
(defn get-text-demo []
  (let [txt (em/from (em/select ["#button2"]) (em/get-text))]
    (em/at js/document 
      ["#get-text-demo"] (em/content txt))))  
</pre>