<div class="content-page">
<h1>Quick Start</h1>
<h3>Setup</h3>
From any leiningen project file:
<pre>
[enfocus "0.9.1-SNAPSHOT"]
</pre>

<p>For the best development experience, use lein-cljsbuild. lein-cljsbuild 0.7.0 includes the third party google libraries needed for enfocus. If you choose something else you will need to replace the goog.jar in your CLOJURESCRIPT_HOME/lib with the goog-jar.jar that comes down as a dependency with enfocus.</p>

<p>If you are using an older version of ClojureScript you will need to use ["0.9.0-SNAPSHOT"].</p>
<h3>The Basics</h3>
Every great journey starts with "Hello world!"
<pre>
(ns my.namespace
  (:require [enfocus.core :as ef])
  (:require-macros [enfocus.macros :as em]))

(defn start [] 
  (em/at js/document
    ["body"] (em/content "Hello world!"))

(set! (.-onload js/window) start)         
</pre>
<h3>The <u>at</u> Form</h3>
<p>At the core to understanding Enfocus is the <em>at</em> form used in the 
"Hello world!" example above.  It comes in two basic flavors listed below:</p>
<pre>
(at a-node (transform arg1 ...))

and

(at a-node
    [selector1] (transform1 arg1 ...)
    [selector2] (transform2 arg1 ...))
</pre>
<p>In the first case, <em>at</em> is passed a node or a node set and a transform.  This form of <em>at</em>
calls the transform on each element in the node set. <p>
<p>A <em>transform</em> is nothing more than a function that takes a set of arguments and returns a function 
that takes a set of nodes.  In case of the "Hello World!" example above, we see the use of
(em/content "Hello world!"). This call returns a function that takes node or node set
and replaces the content with "Hello world!"</p>
<p>In the second case, we see <em>at</em> is passed a node or node set and a set of 
selector/transform pairs. The selectors are scoped by the node or node set passed in and 
the results of each selector is passed on to its partner transformation.</p> 
<p>A <em>selector</em> is a string representing a <a href="http://www.w3schools.com/cssref/css_selectors.asp">CSS3 compliant selector</a>. 

<h3>Handling Events</h3>
<p>Lets look at handling events. When we click the button it will change to 
say "I have been clicked."</p>
<button id="button1">click me</button>
<p>HTML:</p>
<pre>
&lt;html&gt;
  &lt;body&gt;
    &lt;button id="button1"&gt;click me&lt;/button&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>
CLJS:
<pre>
(em/defaction change [msg] 
  ["#button1"] (em/content msg))

(em/defaction setup []
  ["#button1"] (em/listen :click #(change "I have been clicked")))
	
(set! (.-onload js/window) setup)         
</pre>
<p>The <em>defaction</em> construct is use here instead of <em>defn</em>.  <em>defaction</em>
creates a function that calls the <em>at</em> form like discussed above 
and passes in js/document as the node to be transformed.</p>

<h3>Effects</h3>
<p>Enfocus has the concept of effects.  Effects are nothing more than transformations
over a period of time. Below is a simple example of a resize effect. Notice how the 
effects can be chained.</p>
<div id="rz-demo" style="width: 5px; height: 10px; background-color: #33ff33;"> </div>
<button id="button2">click me</button>
<p>HTML:</p>
<pre>
&lt;html&gt;
  &lt;body&gt;
    &lt;div id="rz-demo" style="width: 5px; height: 10px; background-color: #33ff33;"&gt; &lt;/div&gt;
    &lt;button id="button2"&gt;click me&lt;/button&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>
<p>CLJS:</p>
<pre>
(em/defaction resize-div [width] 
  ["#rz-demo"] (em/chain 
                 (em/resize width :curheight 500)
                 (em/resize 5 :curheight 500)))

(em/defaction setup []
  ["#button2"] (em/listen #(resize-div 200)))
	
(set! (.-onload js/window) setup)         
</pre>

<h3>A bit more complicated example with clone-for</h3>
<p>Example: <button id="button3">click me</button> </p>
<table id="clone-for-demo" border="1">
<thead>
<tr><th>fruit</th><th>quantity</th></tr>
</thead>
<tbody>
<tr><td>replace</td><td>me</td></tr>
</tbody>
</table>
<p>The following action is triggered when we click the button.</p>
<pre>
(defn clone-for-demo []
  (let [fruit-data {"apple" 5, "pear" 6}]
    (em/at js/document
       ["#clone-for-demo tbody > tr:first-child"] 
         (em/clone-for [fr (vec fruit-data)]
            ["*:first-child"] (em/content (first fr))
            ["*:last-child"] (em/content (str (second fr)))))))
</pre>

<h3>Getting Data <em>from</em> the DOM</h3>
<p>Below is an example of using the <em>from</em> form with the get-prop extractor and some filtering to
get data out of a form.</p>
<div>
<input id="get-prop-field1" value="type here"><br>
<input id="get-prop-field2" value="type here"><br>
<input name="get-prop-field3" type="checkbox" value="one">one<br>
<input name="get-prop-field3" type="checkbox" value="two">two<br>
<input name="get-prop-field3" type="checkbox" value="three">three<br>
</div>
<p>Example: <button id="button4">click me</button></p>
<div id="get-prop-demo"> </div>
<p>The following action is triggered when we click the button.</p>
<pre>
(defn get-prop-demo []
  (let [values (em/from js/document
                 :field1 ["#get-prop-field1"] (em/get-prop :value)
                 :field2 ["#get-prop-field2"] (em/get-prop :value)
                 :field3 ["input[name='get-prop-field3']"] (em/filter #(.-checked %)
                                                                   (em/get-prop :value)))]
      (em/at js/document
        ["#get-prop-demo"] (em/content (pr-str values)))))                   
</pre>
