<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Event Handling</h1>
    <!--<p class="lead">.</p>-->
  </div>
</header>

<div class="content-page">
  <div class="row">
    <div class="span3 bs-docs-sidebar">
      <ul class="table-contents nav nav-list bs-docs-sidenav">
        <li id="listen-link"><a>listen</a></li>
        <li id="live-link"><a>listen-live</a></li> 
        <li id="remove-link"><a>remove-listeners</a></li> 
        <li id="support-link"><a>supported events</a></li>
      </ul>
    </div>

    <div class="span9">
      <section id="doc-listen">
        <div class="page-header">
          <h3>Transform: <em>listen</em></h3>
        </div>

<p>The <em>listen</em> transform places an event listener, for the given event, on the nodes returned by the selector.  
When the event is triggered the event object is passed as a parameter to the function call.<p> 
<p>The <em>event object</em> is of type goog.event.Event.  Documentation for this object can
be found <a href="http://closure-library.googlecode.com/svn/docs/class_goog_events_Event.html">here</a>.</p>
 
<pre class="prettyprint linenums lang-clj">
(listen :click (fn [event].....))
</pre>
<p>Example: <button id="button1">click me</button></p>
<p>The following action is triggered when we click the button</p>
<pre class="prettyprint linenums lang-clj">
(em/at "#button1" (ev/listen :click 
                             #(ef/at (.-currentTarget %) 
                                (ef/content "I have been replaced"))))       
</pre>
<p>Notice in the above example, we are using the <em>at</em> form as event handler.</p>
     </section>

      <section id="doc-listen-live">
        <div class="page-header">
          <h3>Transform: <em>listen-live</em></h3>
        </div>

<p>The <em>listen-live</em> transform places an event listener on the
  selected node.  When the event is triggered the event the event
  target is tested to see if it matches the selector and new event is
  created if it does.  This is very similar to jQuery's <em>on</em> or
  <em>live</em> functionality.
<p>The <em>event object</em> is of type goog.event.Event.  Documentation for this object can
be found <a href="http://closure-library.googlecode.com/svn/docs/class_goog_events_Event.html">here</a>.</p>
 
<pre class="prettyprint linenums lang-clj">
(listen-live :click selector (fn [event].....))
</pre>
<p>Example: <button id="button3">click me</button></p>
<p>The following action is triggered when we click the button</p>
<pre class="prettyprint linenums lang-clj">
(em/at "#doc-listen-live" 
       (ev/listen-live :click "#button3" 
              #(ef/at (.-currentTarget %) 
                      (ef/content "I have been replaced"))))       
</pre>
<p>Notice in the above example, we are using the <em>at</em> form as event handler.</p>
     </section>


      <section id="doc-remove">
        <div class="page-header">
          <h3>Transform: <em>remove-listeners</em></h3>
        </div>

<p>The <em>remove-listeners</em> transform removes listeners for a given event type on all nodes
returned by the selector.</p>
<pre class="prettyprint linenums lang-clj">
(remove-listeners :mouseover :mouseout ...)
</pre>
<p>Example: <button id="button2">click me</button><span id="remove-demo">hover over me</span></p>
<p>The first defaction was called to setup the :mouseenter event on text "hover over me". The
second defaction is triggered when we click the button.</p>
<pre class="prettyprint linenums lang-clj">
(ef/at "#remove-demo" 
  (do->
    (ev/listen :mouseenter 
      #(ef/at (.-currentTarget %) (ef/add-class "highlight"))) 
    (ev/listen :mouseleave 
      #(ef/at (.-currentTarget %) (ef/remove-class "highlight"))))) 

(em/defaction remove-demo []
  "#remove-demo" (ev/remove-listeners :mouseenter :mouseleave))   
</pre>
     </section>

      <section id="doc-support">
        <div class="page-header">
          <h3>Supported Events</em></h3>
        </div>


<p>All events below have cross browser support:</p>
<ul>
<li>:click</li>
<li>:dbclick</li>
<li>:mousedown</li>
<li>:mouseup</li>
<li>:mouseover</li>
<li>:mouseout</li>
<li>:mouseenter</li>
<li>:mouseleave</li>
<li>:mousemove</li>
<li>:keypress</li>
<li>:keydown</li>
<li>:keyup</li>
<li>:blur</li>
<li>:focus</li>
<li>:change</li>
<li>:select</li>
<li>:submit</li>
<li>:input</li>
<li>:resize - for js/window</li>
</ul>
</section>
</div>
</div>
</div>
