<div class="content-page">
<h1>Enfocus</h1>
<p>Enfocus is a dom manipulation library for ClojureScript.  
Originally inspired by Christophe Grand's clojure based
Enlive, it has evolved into a cross browser tool for building rich UIs. </p>
<p>It supports all of the Enlive-based transformations along with many 
more transformations geared towards managing live dom features, such as
events and effects.     
The best way to understand what this library can do is to look at code.  
The animation that launched this site was created with Enfocus through the
following code.</p>

<pre>
(em/deftemplate home "templates/home.html" [])

(em/defaction setup-pane [width height]
              ["#menu"] (em/delay 1000 (em/do->
                                         (em/set-style :display "inline")
                                         (em/fade-in 1000)))
              ["#content-pane"] (em/chain
                                  (em/resize 5 height 500)
                                  (em/resize width :curheight 500)
                                  (em/content (home))))
                                  
(defn init-content-pane []
    (let [size (dom/getViewportSize)
          width (- (.-width size) 40)
          height (- (.-height size) 70)]
      (setup-pane width height))))
      
(em/defaction start [] 
              ["#inner-circle"] (em/listen :click init-content-pane))
              
(set! (.-onload js/window) #(start))              
</pre>
<p>In this small piece of code we can see many of key features of enfocus: content manipulation, style manipulation, 
remote resources, complex effects, event handling and management of timed or synchronized events.  All this, and we have only seen 20 lines of code!

<h4>What happend to Enlive's selector syntax?</h4>
<p>If you are coming from Enlive, one big difference you will notice right away is the use of CSS3-based 
string selectors.  This was a pragmatic decision to lower the barrier to entry 
and allow us to concentrate on other features.  It is true that
the long term vision is to support both string based selectors and the full
Enlive selector syntax, however right now we have chosen to only support
string-based selectors.  We do plan on writing a module that will translate
Enlive selector syntax into our string based selectors so even selectors can
be manipulated with macros, but this will have to wait until a patch or a later
release. </p>


<h4>How can I contribute?</h4>
<p>You will find instructions for contributing to either the Enfocus main project or the Enfocus demo site project at the following links:</p>
<ul>
<li><a href="https://github.com/ckirkendall/enfocus">enfocus main</a></li>
<li><a href="https://github.com/ckirkendall/enfocus-demo-site">enfocus demo site</a></li>

</ul>

<h4>License</h4>

<p>Copyright (C) 2011 Creighton Kirkendall</p>

<p>Distributed under the Eclipse Public License, the same as Clojure.</p>
</div>
