<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>What's New</h1>
    <!--<p class="lead">.</p>-->
  </div>
</header>

<div class="content-page">
  <h3>New Features in 2.x</h3>
  <ul class="nav nav-stacked nav-pills">
    <li id="sym-link">improved semantics for <em>at</em>
    and <em>from</em> forms.</li>
    <li id="enlive-link">Complete support for Enlive style selectors.</li>
    <li id="macro-link">Removed macro shadowing.  All transformations are now pure functions with the exception of clone-for.</li>
    <li id="nspace-link">Namespaces for effects, events have been broken out.</li>
    <li id="accel-link">Added a set of accelerator/easing functions to the effects namespace.</li>
    <li id="trans-link">Custom transformations are now just simple functions that take a single node; no wrappers needed.</li>
    <li id="snip-link">Major optimization to remote and compiled snippets and templates.</li>   
    <li id="hiccup-link">Added hiccup style emitter for template creation. (Enlive 1.1.0)</li>
    <li id="rvars-link">Added replace-vars transform (Enlive 1.1.1)</li>
    <li id="rform-link">Added read-form extractor to serialize forms to clojure maps</li>
  </ul>
</div>
